html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Now here is when interesting things start to appear.

    We set up <body> styles with default font and nice gradient in the background.
    And yes, there is a lot of repetition there because of -prefixes but we don't
    want to leave anybody behind.
*/
body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

/*
    Now let's bring some text styles back ...
*/
b, strong { font-weight: bold }
i, em { font-style: italic }

/*
    ... and give links a nice look.
*/
a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

/*
    Because the main point behind the impress.js demo is to demo impress.js
    we display a fallback message for users with browsers that don't support
    all the features required by it.

    All of the content will be still fully accessible for them, but I want
    them to know that they are missing something - that's what the demo is
    about, isn't it?

    And then we hide the message, when support is detected in the browser.
*/

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
    position: relative;
/*    width: 900px;*/
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
/*    font-size: 48px;*/
/*    line-height: 1.5;*/
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

h1, h2, h3 {
    white-space: nowrap;
}

h1 {
    font-size: 8em;
}

h2 {
    font-size: 6.5em;
}

h3 {
    font-size: 5em;
}

h4 {
    font-size: 4em;
}

h1.padded, h2.padded, h3.padded, h4.padded {
    padding-bottom: 1em;
}

.fade-in.future {
    opacity: 0;
}
.fade-in.present {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;

    opacity: 1;
}

#toolbox h2 {
    margin-top: 8em;
}

#terms dl {
    font-size: 2em;
    width: 26em;
}
#terms dt {
    float: left;
    width: 6em;
}
#terms dd {
    float: left;
    width: 20em;
}

.host {
    margin: 2em;
    padding: 1em;
    width: 25em;
    height: 15em;
    border: 0.25em solid #000066;
    background: #eee;
    float: left;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 1em #666;
}

.box-label {
    float: left;
    width: 100%;
}

.daemon {
    margin: 1em;
    padding: 0.5em;
    width: 3em;
    height: 1.5em;
    border: 0.25em solid #006600;
    background: #fff;
    float: left;
    border-radius: 0.5em;
    box-shadow: 0.25em 0.25em 0.5em #666;
}

.container {
    margin: 1em;
    padding: 0.5em;
    width: 7em;
    height: 2em;
    border: 0.25em solid #666666;
    background: #fff;
    float: left;
    border-radius: 0.5em;
    box-shadow: 0.25em 0.25em 0.5em #666;
}

.vm {
    margin: 1em;
    padding: 0.5em;
    width: 30%;
    height: 50%;
    border: 0.25em solid #666666;
    background: #fff;
    float: left;
    border-radius: 0.5em;
    box-shadow: 0.25em 0.25em 0.5em #666;
}

#virtualization {
    width: 80em;
}

#virtualization ul, #containers ul {
    padding-left: 0.5em;
}
#virtualization ul li::before, #containers ul li::before {
    content: "- "
}

#containers {
    width: 80em;
}

#containers ul {
    font-size: 2em;
}

.console {
    font-family: monospace;
    font-size: 3em;
    background-color: black;
    color: ghostwhite;
}

#containers .console span {
    background-color: black;
    display: block;
    float: left;
    padding: 0.25em;
    margin: 0.5em;
}

.future [class^="delay-"], .future [class*=" delay-"] {
    opacity: 0
}
.present [class^="delay-"], .present [class*=" delay-"] {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
    
    opacity: 1;
}

.present .delay-5s {
    -webkit-transition-delay: 5s;
    -moz-transition-delay:    5s;
    -ms-transition-delay:     5s;
    -o-transition-delay:      5s;
    transition-delay:         5s;
}

.present .delay-6s {
    -webkit-transition-delay: 6s;
    -moz-transition-delay:    6s;
    -ms-transition-delay:     6s;
    -o-transition-delay:      6s;
    transition-delay:         6s;
}

.present .delay-7s {
    -webkit-transition-delay: 7s;
    -moz-transition-delay:    7s;
    -ms-transition-delay:     7s;
    -o-transition-delay:      7s;
    transition-delay:         7s;
}

.present .delay-8s {
    -webkit-transition-delay: 8s;
    -moz-transition-delay:    8s;
    -ms-transition-delay:     8s;
    -o-transition-delay:      8s;
    transition-delay:         8s;
}

.present .delay-9s {
    -webkit-transition-delay: 9s;
    -moz-transition-delay:    9s;
    -ms-transition-delay:     9s;
    -o-transition-delay:      9s;
    transition-delay:         9s;
}

#machine-why {
    width: 50em;
}

#machine-why ul {
    font-size: 3em;
}

#machine-why ul li::before {
    content: "- "
}

#machine-cmd {
    width: 68em;
}

#machine-cmd .console {
    padding: 0.5em;
}

#monolith .host {
    width: 84em;
    height: 30em;
    padding-bottom: 10em;
}

#monolith .vm {
    width: 45%;
}

#alice, #bob {
    width: 60em;
}

#alice .console, #bob .console {
    padding: 1em;
}